body {
    font-family: 'Biryani', sans-serif;
    /* padding-top: 10%;
    padding: 10%; */
    padding: 80px;
}

span {
    color: #282828;
}

nav span {
    padding-right: 44px;
}

.logo {
    /* position: absolute;
    width: 116px;
    height: 114px;
    left: 332px;
    top: 278px; */
}

.square{
    width: 100px;
    height: 100px;
}

.bluesquare {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #93B5C6;
}

.pinksquare {
    position: absolute;
    left: 16px;
    top: 14px;

    background: #E4D8DC;
}

#intro {
    display: inline-block;
    /* position: absolute; */
    /* width: 470px;
    height: 93px;
    left: 512px;
    top: 299px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 17em;
    font-size: 24px;
}


@media screen and (max-width: 600px) {
    body {
        padding: 33px;
    }

    nav span {
        padding-right: 22px;
        font-size: 12px;
    }

    .logo {
        position: absolute;
        width: 49px;
        height: 48.16px;
        /* left: 343px; */
        top: 25px;
    }

    .pinksquare {
        left: 6.76px;
        top: 5.91px;
    }
    
    .square{
        width: 42.5px;
        height: 42.5px;
    }

    #intro {
        font-size: 18px;
        
    }
  }
  