html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Biryani', sans-serif;
    padding: 80px;
    margin: 0;
    width: auto;
    box-sizing: border-box;
    /* max-width: 1440px; */
}

span {
    color: #282828;
}

nav span {
    padding-right: 44px;
}

nav span a {
    color: #282828;
}

nav span a:hover {
    color:#C9CCD5;
    text-decoration: none;
}

#profile-picture {
    width: 400px;
    position: absolute;
    /* width: 25vw; */
    border-radius: 10px;
    right: 378px;
    top: 210px;
    z-index: 3;
}

#intro {
    display: inline;
}

#intro-text {
    margin-top: 200px;
    font-size: 36px;
}

#intro-text p{
    font-size: 30px;
    font-weight: 200;
}

#intro-text b{
    font-weight:600;
}

.logo {
    position: absolute;
    /* left: calc(100% - 180px); */
    right: 180px;
}

.logo #logo-icon {
    position: absolute;
    z-index: 3;
    width: 85px;
    padding: 12.5px;
}

.logo:hover .pinksquare{
    animation-name: moveSquare;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.logo .pinksquare{
    animation-name: moveSquareBack;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.logo:hover .bluesquare{
    animation-name: changeSquareColor;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.logo .bluesquare{
    animation-name: changeSquareColorBack;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.square{
    width: 100px;
    height: 100px;
}

.bluesquare {
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #93B5C6;
}

.pinksquare {
    z-index: 1;
    position: absolute;
    left: 16px;
    top: 14px;
    background: #E4D8DC;
} 

.project img {
    width: 527px;
    height: 358px;
    object-fit: cover;
    z-index: 3;
    position: relative;

    animation-name: moveRectangleForImageBack;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.project img:hover{
    animation-name: moveRectangleForImage;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


#rectangle {
    position: absolute;
    width: calc(100vw - 97px);
    /* height: 700px; */
    height: 800px;
    top: 410px;
    background: #F3F0F1;
}

#projects {
    padding-top: 900px;
}

.project {
    padding-bottom: 100px;
    padding-top: 100px;
}

.project-rectangle {
    width: 527px;
    height: 358px;
    z-index: 1;
    position: absolute;
    /* top: 20px;
    left: 40px; */
    background: #C9CCD5;
}

.project-content {
    padding-left: 25px;
    padding-top: 138.5px;
}

.project-content span {
    color:#ABABAB;
    font-weight: 200;
}

.project-content .github-button {
    /* position: absolute;
    width: 128px;
    height: 39px;
    left: 791px;
    top: 1427px; */
    display: inline-flex;
    margin-top: 80px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;

    background: #FFFFFF;
    border: 3px solid #C9CCD5;
    box-sizing: border-box;
    border-radius: 5px;

    font-weight: 200;
    font-size: 13px;
    line-height: 23px;
    color: #C9CCD5;
}

.github-button:hover {
    background: #C9CCD5;
    color:#FFFFFF;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.github-button:active {
    background: #999ba1;
}

.footer {
    /* position: fixed; */
    padding-top: 100px;
    padding-bottom: 100px;
    /* background-color: red; */
    color: #C9CCD5;;
    text-align: center;
  }

  .footer p {
    font-size: 12px;
  }


@keyframes moveSquare {
    from {
        left: 16px;
        top: 14px;
    }
    to {
        left: 0px;
        top: 0px;
    }
  }

  @keyframes moveSquareBack {
    from {
        left: 0px;
        top: 0px;
    }
    to {
        left: 16px;
        top: 14px;
    }
  }


@media screen and (max-width: 1400px) {
    #profile-picture{
        display: none;
    }
}



@media screen and (max-width: 780px) {
    body {
        padding: 33px;
    }

    nav span {
        padding-right: 22px;
        font-size: 12px;
    }

    #profile-picture {
        display: none;
    }

    #intro-text {
        margin-top: 100px;
        font-size: 20px;
    }

    #intro-text p{
        font-size: 16px;
        font-weight: 200;
    }

    .logo {
        position: absolute;
        left: calc(100% - 80px);
        /* height: 48.16px;
        top: 25px; */
    }

    .logo #logo-icon {
        position: relative;
        z-index: 3;
        width: 34px;
        padding: 5.3125px;
    }

    #rectangle {
        width: calc(100vw - 33px);
        height: 100px;
        top: 225px;
        background: #F3F0F1;
    }
    

    .pinksquare {
        left: 6.76px;
        top: 5.91px;
    }
    
    .square{
        width: 42.5px;
        height: 42.5px;
    }

    #projects {
        padding-top: 50px;
    }

    .project img {
        animation-name: none;
        animation-duration: none;
        animation-fill-mode: none;
        width: 275px;
        height: 200px;
    }

    .project img:hover {
        animation-name: none;
        animation-duration: none;
        animation-fill-mode: none;
    }

    .project-rectangle {
        width: 275px;
        height: 200px;
    }

    .project {
        padding-bottom: 50px;
        padding-top: 100px;
    }

    .project-content {
        padding-left: 5px;
        padding-top: 0x;
    }



    @keyframes moveSquare {
        from {
            left: 6.76px;
            top: 5.91px;
        }
        to {
            left: 0px;
            top: 0px;
        }
      }
    
      @keyframes moveSquareBack {
        from {
            left: 0px;
            top: 0px;
        }
        to {
            left: 6.76px;
            top: 5.91px;
        }
      }
  }

  @keyframes changeSquareColor {
    from {
        background: #93B5C6;
    }
    to {
        background: #E4D8DC;
    }
  }

  @keyframes changeSquareColorBack {
    from {
        background: #E4D8DC;
    }
    to {
        background: #93B5C6;     
    }
  }

  @keyframes moveRectangleForImage {
      from {
        bottom: 0px;
        right: 0px;
        opacity:1;
  
      }
      to {
        bottom: 20px;
        right: 30px;
        opacity:0.90;
      }
  }

  @keyframes moveRectangleForImageBack {
    from {
        bottom: 20px;
        right: 30px;
        opacity:0.90;
    }
    to {
        bottom: 0px;
        right: 0px;
        opacity:1;

    }
}


  